In [2]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

--2025-09-16 23:55:32--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 874188 (854K) [text/plain]
Saving to: 'car_fuel_efficiency.csv'

     0K .......... .......... .......... .......... ..........  5% 2.89M 0s
    50K .......... .......... .......... .......... .......... 11% 5.01M 0s
   100K .......... .......... .......... .......... .......... 17% 24.0M 0s
   150K .......... .......... .......... .......... .......... 23% 7.47M 0s
   200K .......... .......... .......... .......... .......... 29% 11.4M 0s
   250K .......... .......... .......... .......... .......... 35% 71.2M 0s
   300K .......... .......... .......... .......... .......... 40% 25.4M 0s
   350K .......... .......... .......... .......... .......... 46% 5.23M 0s
   400K .......... .......... .......... .......... .......... 52% 17.8M 0s
   450K .......... .......... .......... .......... .......... 58% 77.1M 0s
   500K .......... .......... .......... .......... .......... 64% 21.9M 0s
   550K .......... .......... .......... .......... .......... 70% 64.3M 0s
   600K .......... .......... .......... .......... .......... 76% 25.3M 0s
   650K .......... .......... .......... .......... .......... 81% 23.4M 0s
   700K .......... .......... .......... .......... .......... 87% 59.0M 0s
   750K .......... .......... .......... .......... .......... 93% 47.7M 0s
   800K .......... .......... .......... .......... .......... 99% 17.4M 0s
   850K ...                                                   100% 70.6G=0.07s

2025-09-16 23:55:32 (12.5 MB/s) - 'car_fuel_efficiency.csv' saved [874188/874188]

In [3]:
import pandas as pd
df = pd.read_csv('car_fuel_efficiency.csv')

In [4]:
df.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

In [5]:
df.count()

engine_displacement    9704
num_cylinders          9222
horsepower             8996
vehicle_weight         9704
acceleration           8774
model_year             9704
origin                 9704
fuel_type              9704
drivetrain             9704
num_doors              9202
fuel_efficiency_mpg    9704
dtype: int64

In [6]:
df.shape

(9704, 11)

In [7]:
df['fuel_type'].value_counts()

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [8]:
df.isna().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [9]:
df.columns

Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')

In [11]:
max(df[df['origin'] == 'Asia']['fuel_efficiency_mpg'])

23.759122836520497

In [12]:
df.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

In [13]:
import numpy as np

np.median(df['horsepower'])

nan

In [14]:
df['horsepower'].mode()

0    152.0
Name: horsepower, dtype: float64

In [15]:
np.median(df['horsepower'].fillna(152))

152.0

In [16]:
df_asia = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']].head(7)

In [17]:
X = df_asia.to_numpy()

In [18]:
XTX = X.T.dot(X)

In [19]:
y = [1100, 1300, 800, 900, 1000, 1100, 1200]

In [20]:
w = np.linalg.inv(XTX).dot(X.T).dot(y)

In [21]:
w.sum()

0.5187709081074016